
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";      
    float: left;
    /* font-size: 12px; */
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";     
    font-size: 12px;

}

.plusminus{
  background-color: #00A7C2;
  color: #ffffff;
  width: 22px;
  height: 22px;
  padding: 6px;
  /* font-family: "Roboto" !important; */
  font-size: 10px !important;

}

.minusplus{
  background-color: #333;
  color: #ffffff;    
  width: 22px;
  height: 22px;
  padding: 6px;
  font-size: 10px !important;
}

.paddingPlaceholder{
  margin-top: 12px;
  outline: none !important;
  border: none !important;
  text-indent: 10px;
  width: 96%;
  border-bottom: 1px solid #cccccc !important;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #555555;
  font-weight: 400;
}

.paddingPlaceholder::placeholder{
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #555555;
  font-weight: 400;
}


/* .minusplusJobs{
  background-color: #005174;
  color: #ffffff;    
  width: 22px;
  height: 22px;
  padding: 6px;
  font-size: 10px !important;
} */
.buttonText{
  font-family: "Roboto";
  font-weight: 100 !important;
  display: flex !important;
  font-size: 18px !important;
  color: #005174 !important;
  text-align: left !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
}

* {box-sizing: border-box;}

.bg-img {
    background-image: url("./../img/home/clear-water-512911306.jpg");
    background-color: rgba(255, 255, 255, 0);
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px;
    border-color: rgb(234, 233, 233);
    border-style: solid;
    background-size: cover;
    height: calc(100vh - 0px);
}

.bg2-img {
    background-image: url("./../img/home/surf-yoga_270570710.jpg");
    background-color: rgba(255, 255, 255, 0);
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px;
    border-color: rgb(234, 233, 233);
    border-style: solid;
    background-size: cover;
    height: calc(74vh - 0px);
}

.bg3-img {
    background-color: rgba(255, 255, 255, 0);
    background-position: right top;
    background-image: url("./../img/home/rocks-on-beach-wide-scaled-1.jpg");
    background-repeat: no-repeat;
    border-width: 0px;
    border-color: rgb(234, 233, 233);
    border-style: solid;
    background-size: cover;
    height: calc(59vh - 0px);
}

.bg4-img {
    background-color: rgba(255, 255, 255, 0);
    background-position: top;
    background-image: url("./../img/home/pace-of-life-beach-grass.jpg");
    background-repeat: no-repeat;
    border-width: 0px;
    border-color: rgb(234, 233, 233);
    border-style: solid;
    background-size: cover;
    height: calc(63vh - 0px);
}


.bg6-img {
  background-color: rgba(255, 255, 255, 0);
  background-position: bottom;
  background-image: url("./../img/portfolio/Just-call-it-life-header-504112170.jpg");
  background-color: rgba(255, 255, 255, 0);
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 0px;
  border-color: rgb(234, 233, 233);
  border-style: solid;
  background-size: cover;
  height: calc(100vh - 0px);
}

.bg7-img {
  background-color: rgba(255, 255, 255, 0);
  background-position: bottom;
  background-image: url("./../img/jobs/german-shepherd-opportunities-header.jpg");
  background-color: rgba(255, 255, 255, 0);
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 0px;
  border-color: rgb(234, 233, 233);
  border-style: solid;
  background-size: cover;
  height: calc(100vh - 0px);
}

.bg8-img {
  background-color: rgba(255, 255, 255, 0);
  background-position: bottom;
  background-image: url("./../img/jobs/soul-kid-hztl-fade-637225634.jpg");
  background-color: rgba(255, 255, 255, 0);
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 0px;
  border-color: rgb(234, 233, 233);
  border-style: solid;
  background-size: cover;
  height: calc(60vh - 0px);
}

.bg-imgPriv{
  background-image: url("./../img/home/clear-water-512911306.jpg");
  background-color: rgba(255, 255, 255, 0);
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 0px;
  border-color: rgb(234, 233, 233);
  border-style: solid;
  background-size: cover;
  height: calc(100vh - 0px);
}

.imageLogo{
    position: relative;
    top: 29%;
    left: 4%;
    max-width: 32% !important;
}

.mainText{
  margin-top: 30%; margin-right: 30px; ;
}

.paddingForWeb{
  padding: 0px 40px !important;
}

.expandHalf{
  display: none !important;
}

.expandFull{
  display: normal !important;
}

.navbar-toggler {
  padding: .25rem 2.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  outline: none !important;
}

.navbar-nav{
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
  list-style: none;
  background-color: khaki;
  text-align: left;
  position: absolute;
  top: 100%;
  z-index: 99999;
  height: auto;
  opacity: 0.9;
}

.navbarStyle{
  right: 15px !important;
  top: 10px !important;
  width: 50px !important;
  height: 37px !important;
  outline: none !important;
  border: none !important;
  font-size: 15px !important;
  color: #DADADA !important;
 }


 .navStyle{
  outline: 1px solid #e5e5e5;
  background-color: #FFFFFF;
}

.navStyle:active{
 background-color: #F6f6f6;
}

.navStyleAnchor{
 font-family: "Roboto Slab" !important;
 font-size: 12px !important;
 font-weight: 600;
 line-height: 35px;
 color: #009ca4;
 margin-left: 30px;
 text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .bg3-img{
        background-image: url("./../img/home/rocks-on-beach-wide-scaled-2.jpg");
    }

    .bg4-img{
        background-image: none;
    }
    .imageLogo{
        top: 20%;
    }
 }

 @media screen and (max-width: 990px) {

  .expandFull{
    display: none !important;
  }

  .expandHalf{
    display: block !important;
  }
}


.imgg{
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
/* Position the navbar container inside the image */
.container-fluid {
  margin: 0px !important;
  padding: 0px !important;
} 


.nopadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
 }

 .leftTopPadding{
  padding-top: 0px !important;
  padding-left: 0px !important;    
  margin-top: 0px !important;
  margin-left: 0px !important;
 }

 .nomargin {
    margin-right: 0px !important;
    margin-left: 0px !important;
 }

 .firstPara{
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    color: #005174;
    font-family: 'Roboto';
 }

 .joinCenversationText{
   font-weight: 100;
   font-size: 54px;
   line-height: 65px;
   color: #ffffff;
   font-style: normal;
   font-family: Roboto, Arial, Helvetica, sans-serif;
   padding-top: 20px;
 }

 .runningImageStyle{
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  color: #005174;
  font-family: 'Roboto';
  text-align: left;
 }

 .jobsKidsStyle{
  text-align: left;
  font-size: 54px;
  line-height: 1.2;
  color: #005174;
  font-family: 'Roboto';
  display: inline-block;
  padding: 0px 0px 15px;
 }

 .firstParaGiveBack{
  text-align: center;
  font-size: 50px;
  line-height: 1.2;
  color: #005174;
  font-family: 'Roboto';
 }

 .firstParaWeBring{
  text-align: center;
  font-size: 54px;
  line-height: 1.2;
  color: #005174;
  font-family: 'Roboto';
 }

 .paddingWeBring{
  padding: 0px 40px;
 }

 .firstParaDefining{
  text-align: center;
  font-size: 54px;
  line-height: 1.2;
  color: #005174;
  font-family: 'Roboto';
  }

 .firstParaMain{
  text-align: right;
  font-size: 54px;
  line-height: 1.2;
  color: #005174;
  font-family: 'Roboto';
  color: #FFFFFF
}

 
 .firstParaCall{
  text-align: center;
  font-size: 50px;
  line-height: 1.2;
  color: #005174;
  font-family: 'Roboto';
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

 .propTech{
    text-align: center;
    font-size: 35px;
    line-height: 1.2;
    color: #00a7c2;
    font-family: 'Roboto';
 }

 .inputJobsOne{
  outline: none;
  border-bottom: 1px solid #cccccc;
  padding: 0px 0px 5px 5px;
  margin-right: 5px;
  width: 48%;
  padding: 5px;
  font-size: 14px;
  color: #555555;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 18px;
 }

 .dropDownJobs{
  outline: none;
  border: none;
  width: 96%;
  font-size: 14px;
  line-height: 18px;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;;
  color: #555555;
  padding-left: 5px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
 }
 .marginFifty{
   margin-top: 0px;
 }

 .paddingJobs{
   padding-right: 1.5rem;
   padding-left: 1.5rem;
 }

 .leftTopPadding{
  padding-top: 1.5rem !important;
  padding-left: 1.5rem !important;    
  margin-top: 1.5rem !important;
  margin-left: 1.5rem !important;
 }

 .propTechJobs{
  text-align: center;
  font-size: 34px;
  line-height: 1.2;
  color: #00a7c2;
  font-family: 'Roboto';
  padding: 0px 31px;
}

 .propTechTwo {
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  color: #00a7c2;
  font-family: 'Roboto';
  padding: 0px 25px;
}

.imagePadding{
  padding: 0px 0px;
}

.jobsImageText{
  margin-top: 9%;
  padding-right: 46px;
  z-index: 0;
}
 .virtousCircle{
  text-align: center;
  font-size: 54px;
  line-height: 1.2;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 37px 10px 20px 10px;
 }

 .virtousCircleJobs{
  text-align: center;
  font-size: 54px;
  line-height: 1.2;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 37px 10px 20px 10px;
 }

 .secondPara{
    color: rgb(68, 68, 68);
    display: block;
    font-family: 'Roboto Slab';
    font-size: 22px;
    /* font-stretch: 100%; */
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    line-height: 38px;
    color: #000;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 200;
 }

 .secondParaIndex{
  color: rgb(68, 68, 68);
  display: block;
  font-family: 'Roboto Slab';
  font-size: 22px;
  /* font-stretch: 100%; */
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  line-height: 38px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 200;
 }

 .secondParaIndexTwo{
  color: rgb(68, 68, 68);
  display: block;
  font-family: 'Roboto Slab';
  font-size: 22px;
  /* font-stretch: 100%; */
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  line-height: 38px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 200;
 }

 .secondParaJob{
  color: rgb(68, 68, 68);
  display: block;
  font-family: 'Roboto';
  font-size: 22px;
  /* font-stretch: 100%; */
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  line-height: 65px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 100;
}

.secondParaJobStyle{
  font-size: 54px; 
  color: #FFFFFF;
}

 .secondParaProp{
  color: rgb(68, 68, 68);
  display: block;
  font-family: 'Roboto';
  font-size: 22px;
  /* font-stretch: 100%; */
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  line-height: 38px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 100;
}

.secondParaPropPadding{
  font-size: 54px;
  font-style: normal;
  line-height: 65px;
  font-weight: 100;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #005174;
}

.firstParaJobsStyle{
  text-align: center; 
  padding: 10px 20px; 
  font-size: 54px;
}

#textCenter{
  text-align: left;
  font-size: 50px;
  line-height: 1.2;
  color: #005174;
  font-family: 'Roboto';
  position: relative;
  top: 42vh;
  margin-left: 15%;
  /* padding: 5px 25px; */
}

.secondParaPropPaddingTwo{
  font-size: 36px;
  line-height: 43px;
 font-style: normal;
 font-weight: 100;
 font-family: Roboto, Arial, Helvetica, sans-serif;
  padding-top: 1rem;
  color: #00a7c2;
}

.secondParaPropMargin{
  margin-top: 8%;
  padding-right: 50px;
}

.paddingProp{
  padding: 0px 0px 0px 0px;
}

.textBeforeBarr{
  display: inline;
}

.barrr{
  display: inline-block;
}

 .thirdPara{
    color: #00a7c2;
    display: block;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 100;
    text-align: left;
    /* word-spacing: 10px; */
    display: inline;
 }

 .availableText{
  color: #005174;
  display: block;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 54px;
  line-height: 65px;
  font-weight: 100;
  text-align: left;
  /* word-spacing: 10px; */
  /* display: inline; */
 }

 .fullTimeText{
  color: #00a7c2;
  display: block;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: 100;
  text-align: left;
  margin-top: 10px;
 }

 .thirdParaPortFolio{
  color: #00a7c2;
  display: block;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 100;
  text-align: left;
  word-spacing: 10px;
  display: inline;
 }

 .cardStyle{
  padding: 5px 5px;
  border: none !important;
 }

 .rowStyle{
   text-align: left;
 }

 .zoe{
   color: #005174;
   display: inline;
   font-size: 28px;
 }

 .fourthPara{
    color: #00a7c2;
    display: block;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 100;
    /* font-stretch: 100%;   */
    font-style: normal;
    text-align: center;
    margin-bottom: 10px;
    line-height: 35px;
 }

 .fifthPara{
  font-size: 22px;
  font-family: 'Roboto Slab';
  line-height: 1.2em;
  color: #444444;
  line-height: 26px;
  padding: 3px 20px;
  text-align: left;
  line-height: 35px;
  margin: 10px 35px;
 }

 .sixthPara{
     color: rgb(0, 81, 116);
     display: block;
     /* font-family: Roboto, Arial, Helvetica, sans-serif; */
     font-size: 45.9291px;
     /* font-stretch: 100%;   */
     font-style: normal;
     font-variant-caps: normal;
     font-variant-east-asian: normal;
     font-variant-ligatures: normal;
     font-variant-numeric: normal;
     font-weight: lighter;
     text-align: center;
 }

 .seventhPara{
  display: block;
  font-family: 'Roboto Slab';
  font-weight: 100;
  line-height: 43px;
  font-size: 36px;
  font-weight: 100;
  color: #00A7C2;
  font-style: normal;
  text-align: center;
}

 .lastButtons{
  font-size: 26px;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size:28px; 
  background-color: transparent; 
  border: none; 
  color: #e5e5e5;
  height: 82px;
  width: 322px;
 }

 .lastButtons:hover{
   background-color: #00A7C2;
 }

 .jobsList{
  font-size: 16px;
  display: list-item;
 }

 .nomarginBottom{
   margin-bottom: 0pc !important;
 }

 .peopleTalking{
   color: #00a7c2;
  font-size: 60px;
  align-items: center;
 }

 .privacyBackground{
  color: rgb(255, 255, 255);
  text-align: center;
  background: rgba(114, 114, 114, 0.42);
  padding: 20px;
  font-size: 54px;
  line-height: 1.2;
  height: auto !important;
 }

.williamText{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  line-height: 1.2;
}

 @media only screen and (max-width: 768px) {
    .thirdPara{
        text-align: center;
     }

     .thirdPara .bar {
         display: none;
     }

     .rowStyle{
      text-align: center;
    }

    .zoe{
      display: block;
      font-size: 42px;
      margin: 10px 0px;
    }
 }

.btn-link:hover .plusminus{
  background-color: #333;
}

 .footer{
    position: relative;
    font-size: 12px;
    font-family: "Roboto Slab", sans-serif;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 14px;
    padding-bottom: 10px;
    text-align: center;
    border-width: 1px;
    border-style: initial;
    border-image: initial;
    border-color: rgb(75, 76, 77);
 }

 .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.liness{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    height: 7px;
} 

/* .liness:before
{
    content: '';
    border-top: 1px solid #333;
    display: block;
    width: 100%;
} */

/* Portfolio Styling */


.p1-img {
    background-image: url("./../img/portfolio/Just-call-it-life-header-504112170.jpg");
    background-color: rgba(255, 255, 255, 0);
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px;
    border-color: rgb(234, 233, 233);
    border-style: solid;
    background-size: cover;
    height: calc(100vh - 0px);
}



.pfirstPara{
    color: rgb(1, 103, 155);
    display: block;
    /* font-family: Roboto, Arial, Helvetica, sans-serif; */
    font-size: 53.9291px;
    /* font-stretch: 100%;   */
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: lighter;
    text-align: left;
  }
  
  .paddingFormJob{
    padding: 0px 0px 0px;
  }


  .imageJob{
    height: 73px;
    width: 250px;
  }

  .logoDiv a{
    text-decoration: none !important;
  }

  .logoDiv a:hover{
    text-decoration: none;
    display: inherit !important;
    background-color: none !important;
  }

  .logoDivJob a{
    text-decoration: none !important;
  }

  .logoDivJob a:hover{
    text-decoration: none;
    display: inherit !important;
    background-color: none !important;
  }


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .fa-facebook {
    background: #3B5998;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 15px;
    padding: 5px 0px 0px 7px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 15px;
    padding: 5px 0px 0px 7px;
  }


  /* Privacy */

  .privacyText{
    color: rgb(68, 68, 68);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  }

  .privacyText2{
    color: rgb(0, 167, 194);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  }

  .priText{
      font-family: Roboto Slab;
      color: #444444;
      font-size: 22px;
      font-weight: 100(thin);
  }

  /* Header Style */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body {
    font-family: lato;
    }
    
.topnav{
  display: flex;
  justify-content: flex-end;
  padding: 30px 3% 30px 3%;
  position: fixed;
  width: 100%;
  top: 0px;
  background: transparent;
  height: 61px;
  z-index: 1;
}


.logoDiv{
  position: fixed;
  top: 18px;
  left: 70px;
}

.logoDivJob{
  position: fixed;
  top: 18px;
  left: 70px;
}

/* Navbar links */
.topnav a {
  text-decoration: none !important;
  color: white !important;
  transition: color 0.5s;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-right: 32px;
  z-index: 1;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */


.topnav.is-sticky {
  background: #444444;
  opacity: 0.9;
  padding: 25px 3% 42px 3%;
  height: 140px
}

.topnav.is-sticky .logoDiv{
  position: fixed;
  top: 30px;
  left: 72px;
}

.topnav.is-sticky .logoDivJob{
  position: fixed;
  top: 30px;
  left: 72px;
}

.topnav.is-sticky a {
  color:#fff;
}

.topnav.is-sticky .logo img {
  content:url("./../img/portfolio/Lucky-Shepherd-PropTech-White-Logo.png");
  height: 70px;
  width: 42%;
	margin:-10px;

  /* content:url("./../img/portfolio/Lucky-Shepherd-PropTech-White-Logo.png");
  height:64px;
  top: -2px; */
  z-index: -1;
}


.topnav a.icon {
  /* float: right; */
  display: none;
}
  
    
    section:nth-of-type(2n) {
    background: darkcyan;
    color: #fff;
    }
    
    section:nth-of-type(2n+1) {
    background: white;
    color: #333;
    }
    


.centerTextPosition{
  height: 50em;
  display: flex;
  justify-content: center;
  color: aqua !important;
  align-items: center;
  flex-direction: column;
}

.itsCoreText{
  color: #005174;
  font-size: 66px;
}

.secondParaPadding{
  padding: 0px 0px;
}

.spanpadding{
  padding: 0px 0px;
}


@media screen and (max-width: 600px) {
  .topnav a.linkHide{
    display: none;
  }

  .topnav a.icon {
    color: #444444;
    float: right;
    display: block;
    position: absolute;
    right: 0px;
    font-size: 23px;
    top: 32px;
    color: #504F47 !important;
  }

  .paddingFormJob{
    padding: 40px 5px 10px;
  }
}


      
@media screen and (max-width: 600px) {

  .paddingForWeb{
    padding: 0px 40px !important;
  }

  .imageJob {
    height: 73px;
    width: 245px;
  }

  .logoDiv {
    position: fixed;
    top: 18px;
    left: 38px;
  }

  .logoDivJob {
    position: absolute;
    top: 18px;
    left: 38px;
  }
  
  
  .topnav.responsive {
    position: absolute;
    top: 14vh;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 8px 10px 8px 20px;
    transition: none;
  }

  .topnav.responsive .icon {
    color: #444444;
    float: right;
    display: block;
    position: fixed;
    right: 0px;
    font-size: 23px;
    top: 32px;
    color: #504F47 !important;
    background-color: transparent;
  }

  .topnav.responsive a {
    float: none;
    color: #005174 !important;
    display: block;
    text-align: left;
    font-size: 14px;
    padding: 2px 0px;
  }

  .joinCenversationText{
    font-weight: 100;
    font-size: 43px;
    line-height: 52px;
    color: #ffffff;
    font-style: normal;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding-top: 20px;
  }

  .bg-imgPriv, .bg7-img, .bg8-img{
    height: calc(30vh - 0px);
  }

  .bg4-img{
    height: calc(25vh - 0px);
  }

  .bg6-img{
    height: calc(38vh - 0px);
  }

  .privacyBackground{
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgba(114, 114, 114, 0.42);
    padding: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 1.2;
    height: auto !important;
    width: 100%;
  }

  .centerTextPosition{
    height: 20em;
  }

  .williamText {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.2;
    /* margin-bottom: 14px; */
    /* padding-bottom: 30px; */
    position: relative;
    top: -20px;
    left: -4px;
  }

  .itsCoreText{
    color: #01679B;
    font-size: 42px;
    padding: 0px 15px;
  }

  .secondParaPadding{
    padding: 0px 16px;
  }

  .secondParaPaddingIndex{
    padding: 0px 20px;
  }

  .virtousCircle {
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
    color: #ffffff;
    font-family: 'Roboto';
    padding: 37px 18px 20px 18px;
  }

  .borderLine{
    /* border-bottom: 1px solid #e5e5e5; */
  }

  .virtousCircleJobs{
    text-align: center;
    font-size: 38px;
    line-height: 1.2;
    color: #ffffff;
    font-family: 'Roboto';
    padding: 37px 13px 20px 13px;
  }
  
  .footer{
    padding: 10px 20px;
  }
  
  .bg-img{
    height: calc(30vh - 0px);
  }

  /* #navArea .logo img {
    display: none;
  } */

  .imageLogo {
    position: absolute;
    top: 26%;
    left: 5%;
    max-width: 55% !important;
    z-index: 1;
  }

  .firstParaMain{
    font-size: 20px;
    margin-left: 90px;
    margin-top: 20px;
  }

  .firstParaDefining{
    font-size: 36px;
    padding: 0px 32px;
  }

  .spanpadding{
    padding: 0px 37px;
    display: flex;
    word-spacing: 0px;
  }

  .secondParaIndex{
    text-align: left;
    padding: 0px 15px;
  }

  .secondParaIndexTwo{
    font-size: 24px;
    text-align: left;
    padding: 0px 22px;
  }

  .bg2-img, .bg3-img{
    height: calc(30vh - 0px);
  }

  .secondParaPropPadding{
    font-size: 32px;
    color: #005174;
    margin-bottom: 0px;
    line-height: 30px;
    padding-bottom: 0px;
  }

  .secondParaPropPaddingTwo{
    font-size: 24px;
    padding-top: 0rem;
    color: #00a7c2;
  } 

  .secondParaPropMargin{
    margin-top: 8%;
    padding-right: 0px;
  }

  .paddingProp {
    padding: 0px 0px 0px 30px;
  }

  .textBeforeBarr{
    display: block;
  }

  .barrr{
    display: none;
  }

  .propTech {
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    color: #00a7c2;
    font-family: 'Roboto';
    padding: 0px 31px;
  }

  .inputJobsOne{
    outline: none;
    border-bottom: 1px solid #cccccc;
    padding: 0px 0px 5px 5px;
     margin-right: 5px;
    width: 96%;
   }
  .marginFifty{
    margin-top: -50px;
  }

  .runningImageStyle{
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    color: #005174;
    font-family: 'Roboto';
    text-align: left;
    padding-right: 130px;
   }

  .paddingJobs{
    padding-right: 0rem;
    padding-left: 0rem;
  }
 

  .jobsKidsStyle{
    text-align: center;
    font-size: 42px;
    line-height: 1.2;
    color: #005174;
    font-family: 'Roboto';
   }

  .propTechJobs{
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    color: #00a7c2;
    font-family: 'Roboto';
    padding: 0px 10px;
  }

  .propTechTwo {
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    color: #00a7c2;
    font-family: 'Roboto';
    padding: 0px 31px;
  }
  
  .firstParaGiveBack{
    font-size: 42px;
  }


  .firstParaJobsStyle{
    text-align: center; 
    padding: 10px 20px; 
    font-size: 42px;
  }

  .firstParaWeBring{
    text-align: center;
    font-size: 42px;
    line-height: 1.2;
    color: #005174;
    font-family: 'Roboto';
   }

   .seventhPara{
    display: block;
    font-family: 'Roboto Slab';
    font-size: 36px;
    font-weight: 100;
    color: #00A7C2;
    font-style: normal;
    text-align: center;
  }

   .paddingWeBring{
    padding: 0px 10px;
   }

   .bs-example{
     margin: 0px !important;
   }

   .cardStyle{
    padding: 0px 0px;
    border: none !important;
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
   }

   #textCenter {
    text-align: left;
    font-size: 24px;
    line-height: 1.2;
    color: #005174;
    font-family: 'Roboto';
    position: relative;
    top: 14vh;
    left: -17%;
    padding: 0px 100px 5px 6px;
}

  .thirdParaPortFolio{
    word-spacing: normal  ;
  }

  .imagePadding{
    padding: 0px 30px !important;
  }

  .liness {
    width: 92%;
    padding: auto;
    margin: 10px auto;
  }
  
  .lakeMargin{
    margin: 0px 10px !important;
  }

  .jobsImageText{
    margin-top: 9%;
    padding-right: 46px !important;
  }

  .secondParaJobStyle{
    font-size: 38px; 
    color: #FFFFFF;
  }
}
    

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}

.boxx{
  width: 96%;
  border: 5px dotted #e5e5e5;
  border-width:3px;  
  border-style:dashed;
  padding: 20px 36px;
  margin-top: 10px;
  /* height: 50px; */
  /* margin: 20px; */
}

.boxx label{
  font-size: 20px;
  line-height: 29px;
  color: #555555;
  font-weight: 100;
  font-style: normal;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
}

.letsTalkBtn{
  height: 30px;
  width: 100px;
  background-color: #00A7C2;
  color: #FFFFFF;
  font-size: 16px;
  border: 1px solid #00A7c2;
  height: auto;
  width: auto;
  padding: 8px 22px;
}

.letsTalkBtn:hover{
    background: #888686;
    border-color: #cccccc;
    color: #dfdddd;
}

.centerrr{
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  height: 100px;
  width: 400px;
}


/* input  */
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.card-header{
  padding: 0px 0px !important;
}



@media only screen and (min-width: 1200px) {
  .mainText{
    margin-top: 23%; margin-right: 30px; ;
  }
}

span.secondParaJob::marker {
  font-size: 26px !important;
  color: #444444 ;
  padding-left: 10px;
}



.dropdown:hover .dropdown-content {
  display: block;
}


body {
  margin: 0;
  width: 100%;
  font-family: Arial;
}


/* Placeholder Styling */
.box input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-family: "Roboto", Helvetica, Tahoma, sans-serif;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  color: #555555 !important;
}

